.idea/
bower_components/
node_modules/
*.log
*.tmp

/demo/**/*.js
/demo/**/*.js.map
/demo/**/*.d.ts

/lib/**/*.js.map

/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
!/src/types/**/*

/test/**/*.js
/test/**/*.js.map
/test/**/*.d.ts
!/test/types/**/*

